[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
chalice = "*"

[dev-packages]
black = "*"
flake8 = "*"
pytest = "*"
pre-commit = "*"
kamidana = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
